#div1{
background-color:darkred;
padding:8px;
text-align:center;
}
#div2{
background-color:white;
height:400px;
width:500px;
float:left;
}
#div3{
background-color:white;
height:500px;
}
#div4{
background-color:black;
color:white;
text-align:center;
clean:both;
padding:20px;
}